*{
    padding: 0;
    margin: 0;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'montserrat', sans-serif;
	background: #9951d4;
}

input{
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    background-color: rgb(182, 178, 178);
    box-shadow: rgba(160, 156, 156, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
p{
    margin: 20px;
    color: white;
    font-weight: 600;
    font-size: 25px;
}

button{
    padding: 10px;
    border-radius: 25px 0px 25px 0px;
    background-color: darkslateblue;
    color: aliceblue;
    box-shadow: rgb(3, 3, 3) 0px 20px 30px -10px;
}